{% extends 'layouts/base.twig' %}

{% block content %}
<section class="articles">
  <div class="column is-8 is-offset-2">
      <div class="card article">
        <div class="card-content">
          <div class="media">
            <div class="media-content has-text-centered">
              <p class="title article-title">Lista de pokemons cadastrados na Pokeapi.co</p>
              <div class="tags has-addons level-item">
                <span class="tag is-info is-large is-rounded">Total: {{ quantidade }}</span>
              </div>
            </div>
          </div>

          <div class="content article-body">
            <div class="tags are-medium">
              {% for pokemon in pokelist %}
                <span class="tag"><a href="{{ base_url() }}/pokemon/{{ pokemon.name }}" title="{{ pokemon.name }}" alt="{{ pokemon.name }}">{{ pokemon.name }}</a></span>

              {% endfor %}

            </div>
          </div>

          <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <a href="{{ base_url }}/?{{ previous }}" class="pagination-previous" title="Previous" {% if previous is null %} disabled {% endif %}>Previous</a>
            <a href="{{ base_url }}/?{{ next }}" class="pagination-previous" title="Next" {% if next is null %} disabled {% endif %}>Next</a>
          </nav>
        </div>
      </div>

{% endblock %}