{% extends 'layouts/base.twig' %}

{% block content %}


<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-128x128">
          <img src="{% if sprites.front_default is null %} {{ base_url }}/images/whoispoke.png {% else %} {{ sprites.front_default }} {% endif %}"  alt="{{ name }} Image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{% if name == '' %} Unamed {% else %} {{ name }} {% endif %} </p>
        <div class="tags has-addons">
          <span class="tag is-dark">Height</span>
          <span class="tag is-info">{% if height == '' %} ? {% else %} {{ height }} {% endif %}</span>

          <span class="tag is-dark">Weight</span>
          <span class="tag is-info">{% if weight == '' %} ? {% else %} {{ weight }} {% endif %}</span>
        </div>

      </div>
    </div>

    <div class="content">

      <div class="columns is-desktop">
        <div class="column">
          <div class="table-container">
            <table class="table is-striped">
              <thead>Stats</thead>
              <tbody>
                  {% for s in stats %}
                  <tr>
                    <th>{{ s.stat.name }}</th>
                    <td>{{ s.base_stat }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="column">
          <div class="table-container">
            <table class="table">
              <thead>Abilities</thead>

              {% for a in abilities %}

                <tr>
                  <th>{{ a.ability.name }}</th>
                </tr>

              {% endfor %}


            </table>
          </div>
        </div>
        <div class="column">
          <div class="table-container">
            <table class="table">
              <thead>Type</thead>

              {% for t in types %}

                <tr>
                  <th>{{ t.type.name }}</th>
                </tr>

              {% endfor %}
            </table>
          </div>
        </div>

      </div>

    </div>
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      <a href="{{ pokemon.single }}{{ pagination.previous }}" class="pagination-previous" title="Previous" {% if pagination.previous == 0 %} disabled {% endif %}>Previous</a>
      <a href="{{ pokemon.single }}{{ pagination.next }}" class="pagination-next" title="Next" {% if pagination.next == 0 %} disabled {% endif %}>Next</a>
    </nav>
  </div>

</div>

{% endblock %}