<nav class="navbar is-danger">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="../">
        <img src="{{ base_url() }}/images/pokeapi.png" alt="Logo">
      </a>
      <span class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <a href="{{ path_for('home') }}" class="navbar-item is-active">
          Home
        </a>

      </div>
    </div>
  </div>
</nav>